<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">

</head>
<body>
    <h1>New Fruit</h1>
   
    <form action="/fruits" method="POST">
      <fieldset>
        <legend>Fruit Details</legend>
        <label for="name">Name: </label>
        <input id="name" name="name" placeholder="Name" />
        <br/>
        <label for="colour">Colour: </label>
        <select name="colour" id="colour">
          <option>Red</option>
          <option>Yellow</option>
          <option>Green</option>
        </select>
        <br />
        <label for="readyToEat">Ready to Eat? </label>
        <input
          type="checkbox"
          id="readyToEat"
          name="readyToEat"
        />
      </fieldset>
      <input type="submit" value="Create" />
    </form>
    </body>
</html>